/*
	Strcture
*/




/*
	Site Wide Styles
*/

@font-face {
	font-family: 'Roboto';
	src: url('/css/fonts/Roboto-Light.ttf') format('truetype');
	font-weight: thin;
	font-style: normal;
}

* {
	font-family: 'Roboto';
	color: rgba(216,216,216,1.0);
}
body {
	background: rgba(40,40,40,1.0);
}

nav ul, nav li {
	list-style: none;
}

.site_header {
	width: 960px;
	margin: 150px auto 50px auto;
	font-size: 100px;
	text-align: center;
}

.content {
	width: 400px;
	margin: 0 auto;	
	overflow: auto;
}

.content nav a {
	border: 1px solid #BBB;
	padding:50px;
	font-size: 20px;
	font-weight: bold;
	color: rgba(216,216,216,1.0);
	background: rgba(85,136,238,0.5);
	border-radius: 5px;
	text-decoration: none;
	float: left;
	margin:10px;
}

.content nav a:hover {
	background: rgba(85,136,238,0.9);
}

.page {
	width: 840px;
	margin: 50px auto;
}

#home_title {
	font-weight: bold;
	text-transform:uppercase;
}

#site_title {
	font-size: 18px;
	font-weight: bold;
	text-transform:uppercase;
	padding-left:20px;
	margin-right: 20px;
	border-bottom:1px solid rgba(73,73,73,1.0);	
}

#site_title a {
	text-decoration:none;
	color: rgba(216,216,216,1.0);
}

#site_nav {

}

#site_nav ul {
	margin: 0;
	padding:0;
}

#site_nav ul li a{
	text-decoration: none;
	color: rgba(216,216,216,1.0);
}

#site_nav ul li a div {
	/*float: left;*/
	width: 146px;
	margin: 10px;
	margin-top:0;
	margin-bottom:0;
	padding: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 12px;
	font-weight: bold;
	text-align: right;
	-webkit-transition: background 0.35s;
		 -moz-transition: background 0.35s;
					transition: background 0.35s;
}

#site_nav ul li a div:hover {
	background: rgba(73,73,73,0.95);
	cursor: pointer;
	-webkit-transition: background 0.25s;
		 -moz-transition: background 0.25s;
					transition: background 0.25s;
}

/* Navigation Style */

#site_nav ul li #nav_projects:hover {
	color: rgba(255,255,255,1.0);
	background: rgba(85,136,238,1.0);	
}
#site_nav ul li #nav_projects.selected {
	color: rgba(255,255,255,1.0);
	background: rgba(85,136,238,1.0);		
}

#site_nav ul li #nav_playground:hover {
	color: rgba(255,255,255,1.0);
	background: rgba(51,204,119,1.0);	
}
#site_nav ul li #nav_playground.selected {
	color: rgba(255,255,255,1.0);
	background: rgba(51,204,119,1.0);
}

#site_nav ul li #nav_blog:hover {
	color: rgba(255,255,255,1.0);
	background: rgba(204,60,41,1.0);	
}
#site_nav ul li #nav_blog.selected {
	color: rgba(255,255,255,1.0);
	background: rgba(204,60,41,1.0);	
}

#site_nav ul li #nav_notes:hover {
	color: rgba(255,255,255,1.0);
	background: rgba(75,75,75,1.0);	
}
#site_nav ul li #nav_notes.selected {
	color: rgba(255,255,255,1.0);
	background: rgba(75,75,75,1.0);	
}

#site_nav ul li #nav_home {
	color: rgba(255,255,255,1.0);
}

#site_nav ul li #nav_home:hover {
	color: rgba(255,255,255,1.0);
	background: rgba(0,0,0,1.0);	
}
#site_nav ul li #nav_home.selected {
	color: rgba(255,255,255,1.0);
	background: rgba(0,0,0,1.0);	
}
.blue_highlight {
	color: rgba(85,136,238,1.0);
}

/***** Please Change *******/
footer, footer a {
	font-size: 10px;
	color: rgba(255,255,255,0.3);
	text-align: right;
	margin:50px 0;
}	


/***** POST ******/
.post_date {
	float: right;
}

.post_title {
	text-align: center;
}


/* 
-- Grids --
  from: http://oocss.org/
*/
.line:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.line {
	*zoom:1;
	}
	.unit { 
		float:left;
	}
		.size1of1 {
			float:none;
		}
		.size1of2 {
			width:50%;
		}
		.size1of3 {
			width:33.33333%;
		}
		.size2of3 {
			width:66.66666%;
		}
		.size1of4 {
			width:25%;
		}
		.size3of4 {
			width:75%;
		}
		.size1of5 {
			width:20%;
		}
		.size2of5 {
			width:40%;
		}
		.size3of5 {
			width:60%;
		}
		.size4of5 {
			width:80%;
		}
	.lastUnit {
		display: table-cell; 
		*display:block;
		*zoom:1;
		float:none;
		_position:relative; 
		_left:-3px; 
		_margin-right: -3px;
		width:auto;
	}

.lastUnit:after{
	content: "These are not the droids you are looking for";
	visibility:hidden; 
	clear:both;
	height:0 !important;
	display:block;
	line-height:0;
}